
/*HEADER NAV*/
body{
  background-color: yellow;
}

.container{
  margin-left: 0px;
  padding-left: 0px;
}

.navbar{
  padding: 0rem 0rem;
}
#header-nav{
  background-color: blue;
  border-radius: 0 ;
  border: 5px solid #000;
}

.navbar-brand{
  margin-top: 5px;
  padding-top: 5px;
  }

.navbar-brand h1{
  margin-left: 0px;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .75;
  margin-left: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;  
}

#nav-list a{
  border: 1px solid black;
  color: white;
  background-color: grey;
}

#nav-list a:hover {
  background: black;
}

.navbar-header .navbar-toggle {
   clear: both;
}

.menu-item{
  width: 100%;
  color: white;
  background-color: grey;
}
h2{
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.row{
  margin-right: 10px;
  margin-left: 10px;
}
